.custom-file-container__label {
  display: none;
}

.custom-file-container__custom-file__custom-file-input {
  display: none;
}

.custom-file-container__custom-file__custom-file-control {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  border: 1px dashed #9C9C9C;
  padding: 15px;
  height: 85px;
  font-size: 14px;
}

.custom-file-container__custom-file__custom-file-control__button {
  display: none;
  font-size: 14px;
  line-height: 38px;
  text-decoration-line: underline;
  color: #006BD2;
  font-weight: 600;
}

.custom-file-container__image-preview {
  display: flex;
  margin: 0 -5px;
  background: #fff;
  background-image: none !important;
  margin-top: 15px;
  overflow-x: auto;
  position: relative;

}

.custom-file-container__image-multi-preview {
  width: calc(25% - 10px);
  height: 53px;
  margin: 0 5px;
  flex-shrink: 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.custom-file-container__image-multi-preview__single-image-clear__icon {
  width: 20.25px;
  height: 20.25px;
  display: block;
  text-align: center;
  margin-left: auto;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  font-weight: 600;
  font-size: 20px;
  cursor: pointer;
}

.submitted input:invalid ~ .custom-file-container__custom-file__custom-file-control {
  border-color: red;
}