$font-size: 14px;
$line-height: 18px;
$defaultPadding: 15px;
$paddingWithIcon: 15px 15px 15px 40px;
$invalid: red;
$inputHeight: 48px;
$iconDimensions: 20px;

input,
textarea {
  outline: none;
  resize: none;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  border-radius: 0;
}

input[type="submit"] {
  border: none;
  cursor: pointer;
}

input,
select,
textarea {
  border: none;
  transition: all 0.25s ease;
  border: 1px solid $btn;
  width: 100%;
  outline: none;
  padding: $defaultPadding;
  font-size: $font-size;
  line-height: $line-height;
  color: #000;
  background-color: #fff;

  &::placeholder {
    color: #000;
  }
}

.input,
.textarea {
  display: flex;
  flex-direction: column;
}

.input,
.textarea {
  &-icon__wrap {
    position: relative;

    .icon {
      position: absolute;
      top: 15px;
      left: 10px;
      display: flex;
      align-items: center;
      width: $iconDimensions;
      height: $iconDimensions;
    }

    input,
    textarea {
      width: 100%;
      padding: $paddingWithIcon !important;
    }
  }
}

.select {
  position: relative;
  display: flex;
  flex-direction: column;
  cursor: pointer;

  &-icon {
    .icon {
      position: absolute;
      top: 15px;
      left: 10px;
      display: flex;
      align-items: center;
      width: $iconDimensions;
      height: $iconDimensions;
    }

    .select__value {
      padding: $paddingWithIcon !important;
    }
  }

  .select__value {
    border: none;
    transition: all 0.25s ease;
    border: 1px solid $btn;
    width: 100%;
    outline: none;
    padding: $defaultPadding;
    font-size: $font-size;
    line-height: $line-height;
    color: #000;
    background-color: #fff;
    position: relative;

    &.is-active {
      &::after {
        transform: translateY(-50%) rotate(-180deg);
      }

      .select__dropdown {
        max-height: $inputHeight * 4;
        overflow-y: auto;
        overscroll-behavior-y: contain;

        input[type="radio"] {
          display: none;
        }

        @media screen and (max-width: 480px) {
          max-height: 50vh;
          height: 50vh;
          position: fixed;
          bottom: 0;
          left: 0;
          right: 0;
          top: auto;
          z-index: 3;
          padding: 20px 20px;

          &::before {
            content: attr(data-title);
            display: block;
            padding: 15px;
            height: $inputHeight;
            font-weight: 600;
            position: sticky;
            top: 0;
            background: #e1e1e1;
            box-sizing: border-box;
            font-size: 16px;
            line-height: 20px;
          }
        }

      }
    }

    &::after {
      content: "";
      position: absolute;
      top: 50%;
      right: 15px;
      transform: translateY(-50%);
      width: 24px;
      height: 24px;
      background-size: 100%;
      background-image: url(../img/ic_dropdown.svg);
      transition: all 0.25s ease;
    }
  }

  .select__dropdown {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: -1px;
    right: -1px;
    top: calc(100% + 1px);
    background: #e1e1e1;
    z-index: 1;
    max-height: 0;
    overflow: hidden;

    label {
      padding: $defaultPadding;
      cursor: pointer;
      height: $inputHeight;

      &.is-active {
        pointer-events: none;
        color: #b1b1b1;
      }

      &:hover {
        background: #c1c1c1;
      }

      input[type="radio"] {
        opacity: 0;
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
      }
    }
  }
}

.form {
  &__field {
    margin-bottom: 10px;

    & span.label {
      font-weight: 600;
      margin-bottom: 2px;
    }

  }
}

.submitted input:invalid,
.submitted select:invalid,
.submitted textarea:invalid,
.submitted .select .select__value.is-invalid {
  border-color: $invalid;
}